@use 'variables.scss' as *;

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: var(--spacing-large);
  
  h1 {
    color: var(--primary-color);
    font-size: var(--font-size-xxl);
    margin-bottom: var(--spacing-medium);
  }
  
  p {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .summary-section {
    margin-bottom: var(--spacing-xl);
  }
} 